# Data Cleaning - Bureau_Balance

# 1. Import Library dan Dataset

In [2]:
# Import library dasar untuk manipulasi dan analisis data
import pandas as pd
import numpy as np

# Import library untuk visualisasi data
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb

# Memastikan Jupyter Notebook menampilkan semua kolom
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [14]:
bureau_balance = pd.read_csv('bureau_balance.csv')

In [15]:
bureau_balance

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

# 2. Exploratory Data Analysis

## 2.1 Info dan Statistik Dasar dari DataFrame

In [16]:
#Menampilkan ringkasan statistik dari kolom numerik:
bureau_balance.describe()

       SK_ID_BUREAU  MONTHS_BALANCE
count  2.729992e+07    2.729992e+07
mean   6.036297e+06   -3.074169e+01
std    4.923489e+05    2.386451e+01
min    5.001709e+06   -9.600000e+01
25%    5.730933e+06   -4.600000e+01
50%    6.070821e+06   -2.500000e+01
75%    6.431951e+06   -1.100000e+01
max    6.842888e+06    0.000000e+00

In [17]:
#Menampilkan ringkasan statistik dari kolom kategorikal:
bureau_balance.describe(include=['object'])

          STATUS
count   27299925
unique         8
top            C
freq    13646993

## 2.2 Checking Missing Values

In [18]:
bureau_balance.isna().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

Tidak terdapat missing value pada dataset "bureau_balance"

## 2.3 Checking Duplicate Values

In [19]:
bureau_balance.duplicated().sum()

0

Tidak terdapat duplicate values pada dataset "bureau_balance"

In [ ]:
bureau_balance_cleaned = bureau_balance
csv_file_path = 'C:/Users/Inne Andarini/Downloads/bureau_balance_cleaned.csv'
bureau_balance_cleaned.to_csv(csv_file_path, index=False)